<!DOCTYPE html>
<html ng-app lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Angular</title>
</head>

<body style="padding:50px">

    <div class="alert alert-info" ng-init="greeting = {greeter: 'Marc', message: 'Здравствуйте!'}">
        <p>
            <input type="text" ng-model="greeting.greeter" size="20" />
            <input type="text" ng-model="greeting.message" size="20" />
        </p>
        {{greeting.greeter}} says: Everybody wanna shout: {{greeting.message }}
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>